.container {
  width: 200%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.firstContainer {
display: flex;
align-items: center;
justify-content: center;
  height: 100vh;
  display: none;
  /* background: yellow; */
}
.firstContainer h1{
text-align: center;
/* background-color: red; */
font-size:2.5vw;
font-family: voyage;
font-weight: 500;
text-transform: capitalize;
}

.lastContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}
.lastContainer h6{
font-size: 1vw;
text-transform: uppercase;
}
.lastContainer h1{
font-size: 6vw;
margin: 1vw 0;
text-transform: capitalize;
}
.lastContainer button{
padding: 8px 30px;
background-color: #000;
color: #fff;
border-radius: 20px;
text-transform: uppercase;
font-size: 10px;
}

.panel.align-top {
  align-items: flex-start;
}

.panel h1 {
  font-size: 1.8em;
  color: white;
  font-weight: 300;
  margin: 0 auto;
}

/* .panel.description {
  padding-bottom: 60px;
} */

.panel p,
.panel li {
  color: black;
  font-weight: 400;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0.3em 0 1em 0;
}

.panel p strong,
.panel li strong {
  color: white;
  font-weight: 400;
}

.panel p code,
.panel li code {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 2px 4px;
  border-radius: 5px;
}

.panel li {
  margin: 0;
}

.gray {
  background-color: #777;
  /* background-image: radial-gradient(circle at 47% 14%, rgba(205, 205, 205, 0.04) 0%, rgba(205, 205, 205, 0.04) 43%, transparent 43%, transparent 100%), radial-gradient(circle at 35% 12%, rgba(215, 215, 215, 0.04) 0%, rgba(215, 215, 215, 0.04) 4%, transparent 4%, transparent 100%), radial-gradient(circle at 1% 35%, rgba(24, 24, 24, 0.04) 0%, rgba(24, 24, 24, 0.04) 37%, transparent 37%, transparent 100%), radial-gradient(circle at 21% 1%, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 26%, transparent 26%, transparent 100%), radial-gradient(circle at 23% 82%, rgba(249, 249, 249, 0.04) 0%, rgba(249, 249, 249, 0.04) 60%, transparent 60%, transparent 100%), radial-gradient(circle at 11% 54%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 23%, transparent 23%, transparent 100%), radial-gradient(circle at 69% 68%, rgba(234, 234, 234, 0.04) 0%, rgba(234, 234, 234, 0.04) 10%, transparent 10%, transparent 100%), linear-gradient(90deg, #777, #606060); */
}

.blue {
  background-color: #f9f9f8;
}
.red {
  background-color: #f9f9f8;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
}
.panel .imge{
 width: 90%;
 height: 80%;
 display: flex;
 gap: 20vh;
 /* background-color: red; */
}

.panel .img{
 border-radius: 20px;
position: relative;
 width: 45%;
 height: 100%;
 overflow: hidden;
 /* background-color: green; */
}
.panel .img img{
width: 100%;
height: 100%;
position: absolute;
top: 50%;
left: 50%;
object-fit: cover;
object-position: top;
transform: translate(-50%, -50%);

}

h1,
h2,
p,
li {
  max-width: 800px;
}

@media (max-width:500px){
  .panel .img{
    width: 100%;
  }
  .container{
    display: none;
  }
}